const form = document.getElementById("form");
const heightEl = document.getElementById("height");
const weightEl = document.getElementById("weight");
const errorEl = document.getElementById("error");
const idealLine = document.getElementById("idealLine");
const timeLine = document.getElementById("timeLine");
document.getElementById("year").textContent = new Date().getFullYear();

function devineIdealWeightKg(heightCm, gender){
  const inches = heightCm / 2.54;
  const inchesOver5ft = inches - 60;
  const base = gender === "M" ? 50 : 45.5;
  return base + 2.3 * inchesOver5ft;
}

function estimateTimeToGoal(currentKg, goalKg){
  const diff = currentKg - goalKg;

  if(diff <= 0){
    return "Você já está próximo do peso ideal.";
  }

  const kgPerWeek = 2; // REGRA NOVA

  const weeks = diff / kgPerWeek;
  const months = weeks / 4.3;

  return `Estimativa: ~${Math.ceil(weeks)} semanas (aprox. ${Math.ceil(months)} meses)`;
}

form.addEventListener("submit", function(e){
  e.preventDefault();

  const gender = document.querySelector('input[name="gender"]:checked').value;
  const height = Number(heightEl.value);
  const weight = Number(weightEl.value);

  if(!height || !weight){
    errorEl.textContent = "Preencha todos os campos.";
    return;
  }

  errorEl.textContent = "";

  const ideal = devineIdealWeightKg(height, gender).toFixed(1);

  idealLine.innerHTML = `Peso ideal: <strong>${ideal} kg</strong>`;
  timeLine.innerHTML = estimateTimeToGoal(weight, ideal);
});

